@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Prompt:wght@400;600;700&family=Saira+Condensed:wght@400;500&family=Saira:wght@400;600;700&family=Titillium+Web:wght@400;600;700&display=swap');

body {
  margin: 0;
}

.container {
  height: 29.2rem;
  width: 21rem;
  font-family: 'Saira Condensed';
  margin: 2rem;
  /* outline: 1px solid black; */
  border-radius: 3px; 
}

.calcContainer {
  height: 29.2rem;
  width: 21rem;
  font-family: 'Saira Condensed';
  /* margin: 2rem; */
  outline: 1px solid #142352;
  border-radius: 5px 5px 3px 3px ;
  box-shadow: -2px 2px 5px #95979d, 0px -2px 5px #95979d;
}

/* -- BUTTON STYLES --  */

.button {
  position: relative;
  top: 0px;
  /* left: 1rem; */
  height: 4.45rem;
  width: 4.64rem;
  padding: 2px 5px;
  box-shadow: -1px -1px 0px #95979d;
  cursor: pointer;
  /* outline: 1px solid black; */
}

.button:hover {
  /* height: 4.5rem; */
  border-top: none;
  background: #d5d6d7;
}

.button:nth-of-type(1) {
  box-shadow: 0px -1px 0px #95979d;
}

.button.dot {
  border-radius: 0px 0px 0px 5px;
}

.button.dot, .button.zero, .button.plusMns, .button.equals{
  border-bottom: none;
}

.button.clear, .button.parenthesis, .button.percent, .button.divide, .button.plus, .button.minus, .button.times, .button.equals {
  background: rgba(10, 40, 102, .8);
  color: #fff8f0;
  border-top: none;
}

.button.clear:hover, .button.parenthesis:hover, .button.percent:hover, .button.divide:hover, .button.plus:hover, .button.minus:hover, .button.times:hover, .button.equals:hover {
  background: rgba(10, 40, 102, .9);
}

.buttonHeading {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  pointer-events: none;
}

.buttonsContainer {
  position: relative;
  bottom: 3.3rem;
  height: 23.5rem;
  /* outline: 1px solid red; */
  display: grid;
}

.indRowBtns {
  height: 4.5rem;
  /* background: magenta; */
  display: flex;
  /* outline: 1px solid blue; */
}


/* -- RESULT STYLES -- */

.resultContainer {
  position: relative;
  bottom: 3.3rem;
  height: 5.7rem;
  width: 21rem;
  /* left: 2rem; */
  /* top: 2rem; */
  background: #142352;
  border-bottom: 1px solid black;
  border-radius: 5px 5px 0px 0px;
}

.result {
  position: relative;
  top: 35px;
  left: 15px;
  height: 2.8rem;
  width: 17.6rem;
  font-size: 1.8rem;
  font-weight: 600;
  text-align: right;
  letter-spacing: 2px;
  padding: 5px 10px;
  color: #fff8f0;
  overflow: hidden;
  /* outline: 1px solid magenta; */
}

.historyBtn {
  position: relative;
  top: 6px;
  left: 16.2rem;
  height: 1.3rem;
  width: 3rem;
  font-weight: 600;
  text-transform: uppercase;
  padding: 1px 5px;
  border-radius: 5px;
  /* outline: 1px solid gray; */
  background: white;
  cursor: pointer;
  z-index: 1;
}

.historyBtn:hover {
  background: #d5d6d7;
}

.historyBtnOpen {
  position: relative;
  top: 6px;
  left: 16.2rem;
  height: 1.3rem;
  width: 3rem;
  font-weight: 600;
  text-transform: uppercase;
  padding: 1px 5px;
  border-radius: 5px;
  /* outline: 1px solid gray; */
  /* background: white; */
  z-index: 1;
}

/* -- IND HISTORY CALCULATION STYLES -- */

.historyCalcsCntr {
  position: relative;
  left: 21rem;
  bottom: 29.2rem;
  height: 29.2rem;
  width: 14rem;
  box-shadow: 1px 1px 2px #95979d, 0px -1px 2px #95979d;
  background: rgba(92, 91, 89, .04);
  border-radius: 0px 5px 5px 0px ;
} 

.backBtn {
  position: relative;
  top: 7px;
  left: 5px;
  width: 2.2rem;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  padding: 0px 5px;
  background: white;
  outline: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
}

.backBtn:hover {
  background: #d5d6d7;
}

.historyHeading {
  position: relative;
  left: 5px;
  top: 2px;
  width: 13.4rem;
  font-size: 25px;
  text-align: center;
  letter-spacing: 5px;
  text-transform: uppercase;
  border-bottom: 1px solid #95979d;
}

.indCalcContr {
  position: relative;
  bottom: 10px;
  left: 5px;
  width: 13.4rem;
  height: 21.8rem;
  outline: 1px solid #d5d6d7;
  border-radius: 3px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.indCalcContr::-webkit-scrollbar {
  width: 4px;
  background: rgba(92, 91, 89, .1);
}

.indCalcContr::-webkit-scrollbar-thumb {
  background: rgba(92, 91, 89, .2);
  border-radius: 5px;
}

.indCalculation {
  position: relative;
  left: 1.5rem;
  bottom: 20px;
  height: 2rem;
  width: 9rem;
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  padding: 2px 5px;
  border-bottom: 1px solid gray;
  cursor: pointer;
}

.indCalculation:hover {
  background: #e2dfdf;
}